*.a
*.cache
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
*~
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/.tags
target/
work/
compile_commands.json
find_all_symbols_db.yaml
libs/org.eclipse.paho.mqtt.c/
build/.tags
/.testlog
/.clangd/
